@model IEnumerable<Models.Change>

@if (Model.Any())
{
    <dt>Changes</dt>
    <dd>
        <ol class="tna-ol">
            @foreach (var change in Model.OrderBy(c => c.Timestamp.SingleOrDefault()))
            {
                <li>
                    <dl>
                        <partial name="DynamicCollectionTextPartial" model="@("Id", change.Id)" />
                        @{
                            var description = System.Text.UTF8Encoding.UTF8.GetString(Convert.FromBase64String(change.Description.Single().Value));
                        }
                        <dt>Description</dt>
                        <dd>@description</dd>
                        @if (change.Timestamp.Any())
                        {
                            <dt>Timestamp</dt>
                            <dd>@change.Timestamp.Single().Value.ToString("dd MMMM yyyy HH:mm:ss")</dd>
                        }
                        @if (change.Operator.Any())
                        {
                            <dt>Operator</dt>
                            <dd>@change.Operator.Single().Name.Single() (@change.Operator.Single().Identifier.Single())</dd>
                        }
                    </dl>
                </li>
            }
        </ol>
    </dd>
}