@page "/asset/{id}"
@using VDS.RDF.Parsing
@using VDS.RDF.Writing
@model Explorer.Pages.Asset.ItemModel

<partial name="SubsetBreadcrumbPartial" model="@Model.Item.Subset.Single().Broader" />

<section class="row tna-!--margin-top-m tna-column tna-column--full">
    <h1>Asset @Model.Item.Reference.Single() @Model.Item.Name.SingleOrDefault()</h1>
    <dl class="tna-dl tna-dl--plain">
        <dt>DRI Id</dt>
        <dd>@Model.Item.Id.Single()</dd>
        @if (Model.Item.Description.Any())
        {
            <dt>Description</dt>
            <dd>@Model.Item.Description.Single()</dd>
        }
        @if (Model.Item.BatchId.Any())
        {
            <dt>Batch Id</dt>
            <dd>@Model.Item.BatchId.Single()</dd>
        }
        @if (Model.Item.ConsignmentId.Any())
        {
            <dt>Consignment Id</dt>
            <dd>@Model.Item.ConsignmentId.Single()</dd>
        }
        @if (Model.Item.RelationDescription.Any())
        {
            <dt>Relation description</dt>
            <dd>@Model.Item.RelationDescription.Single()</dd>
        }
        @if (Model.Item.PhysicalDescription.Any())
        {
            <dt>Physical description</dt>
            <dd>@Model.Item.PhysicalDescription.Single()</dd>
        }
        @if (Model.Item.UseRestrictionDescription.Any())
        {
            <dt>Usage restriction description</dt>
            <dd>@Model.Item.UseRestrictionDescription.Single()</dd>
        }
        @if (Model.Item.Language.Any())
        {
            <dt>Language</dt>
            <dd>@Model.Item.Language.Single().Name.Single()</dd>
        }
        @if (Model.Item.Copyrights.Any())
        {
            <dt>Copyright</dt>
            <dd>
                <ul class="tna-ul tna-ul--dashed">
                    @foreach (var copyright in Model.Item.Copyrights)
                    {
                        <li>@copyright.Title.Single()</li>
                    }
                </ul>
            </dd>
        }
        @if (Model.Item.LegalStatus.Any())
        {
            <dt>Legal status</dt>
            <dd>@Model.Item.LegalStatus.Single().Uri.Segments.Last()</dd>
        }
        @if (Model.Item.Creation.Any())
        {
            <dt>Created by</dt>
            <dd>@Model.Item.Creation.Single().CreationBody.Single().Name.Single()</dd>
        }
    </dl>
    @if (Model.Item.EvidenceProvider.Any() || Model.Item.Investigation.Any())
    {
        <div class="tna-!--margin-top-m">
            <h2>Inquiry</h2>
            <dl class="tna-dl tna-dl--plain">
                @if (Model.Item.Investigation.Any())
                {
                    <dt>Investigation</dt>
                    <dd>@Model.Item.Investigation.Single()</dd>
                }
                @if (Model.Item.EvidenceProvider.Any())
                {
                    <dt>Evidence provider</dt>
                    <dd>@Model.Item.EvidenceProvider.Single()</dd>
                }
            </dl>
        </div>
    }
    @if (Model.Item.CourtCases.Any())
    {
        <div class="tna-!--margin-top-m">
            <h2>Court case</h2>
            <ul class="tna-ul tna-ul--dashed">
                @foreach (var courtCase in Model.Item.CourtCases)
                {
                    <li>
                        <dl class="tna-dl tna-dl--plain">
                            @if (courtCase.Reference.Any())
                            {
                                <dt>Reference</dt>
                                <dd>@courtCase.Reference.Single()</dd>
                            }
                            @if (courtCase.Name.Any())
                            {
                                <dt>Name</dt>
                                <dd>@courtCase.Name.Single()</dd>
                            }
                            @if (courtCase.SummaryJudgment.Any())
                            {
                                <dt>Summary judgment</dt>
                                <dd>@courtCase.SummaryJudgment.Single()</dd>
                            }
                            @if (courtCase.SummaryReasonsForJudgment.Any())
                            {
                                <dt>Summary reasons for judgment</dt>
                                <dd>@courtCase.SummaryReasonsForJudgment.Single()</dd>
                            }
                            @if (courtCase.HearingStartDate.Any())
                            {
                                <dt>Hearing start date</dt>
                                <dd>@courtCase.HearingStartDate.Single().Value.ToString("dd MMMM yyyy")</dd>
                            }
                            @if (courtCase.HearingStartDate.Any())
                            {
                                <dt>Hearing end date</dt>
                                <dd>@courtCase.HearingEndDate.Single().Value.ToString("dd MMMM yyyy")</dd>
                            }
                        </dl>
                    </li>
                }
            </ul>
        </div>
    }

    <partial name="RetentionPartial" model="@Model.Item.Retention" />

    @if (Model.Item.Variations.Any())
    {
        <div class="tna-!--margin-top-m">
            <h2>Variations</h2>
            <ul class="tna-ul tna-ul--dashed">
                @foreach (var variation in Model.Item.Variations)
                {
                    <li>
                        <a asp-page="/variation/item" asp-route-id="@variation.Id.Single()">@variation.Name.Single()</a>
                    </li>
                }
            </ul>
        </div>
    }

    @if (Model.Item.SensitivityReviews.Any())
    {
        <div class="tna-!--margin-top-m">
            <h2>Sensitivity reviews</h2>
            <ul class="tna-ul tna-ul--dashed">
                @foreach (var sr in Model.Item.SensitivityReviews)
                {
                    <li>
                        <p>
                            <a asp-page="/sensitivityreview/item" asp-route-id="@sr.DriId.Single()">@sr.DriId.Single()</a>
                        </p>
                        <partial name="SensitivityReviewPartial" model="@sr" />
                    </li>
                }
            </ul>
        </div>
    }
</section>

<section class="tna-container tna-!--margin-top-m">
    <div class="tna-column tna-column--full">
        <div class="tna-form__group">
            <textarea class="tna-textarea" rows="25" readonly>@System.Text.UTF8Encoding.UTF8.GetString(Convert.FromBase64String(Model.Item.Xml.Single().Value))</textarea>
        </div>
    </div>
</section>