@page "/variation/{id}"
@model Explorer.Pages.Variation.ItemModel

<partial name="SubsetBreadcrumbPartial" model="@Model.Item.Asset.Single().Subset.Single().Broader" />

<section class="row tna-!--margin-top-m tna-column tna-column--full">
    <h1>Variation @Model.Item.Name.Single()</h1>
    <dl class="tna-dl tna-dl--plain">
        <partial name="DynamicCollectionTextPartial" model="@("Id", Model.Item.Id)" />
        <partial name="DynamicCollectionIntPartial" model="@("Redaction sequence", Model.Item.RedactedSequence)" />
        <partial name="DynamicCollectionTextPartial" model="@("Note", Model.Item.Note)" />
        @if (Model.Item.Location.Any())
        {
            <dt>Location</dt>
            <dd>@Model.Item.Location.Single().Value</dd>
        }
        <partial name="DynamicCollectionTextPartial" model="@("Physical condition description", Model.Item.PhysicalConditionDescription)" />
        <partial name="DynamicCollectionTextPartial" model="@("Reference Google identifier", Model.Item.ReferenceGoogleId)" />
        <partial name="DynamicCollectionTextPartial" model="@("Reference parent Google identifier", Model.Item.ReferenceParentGoogleId)" />
        @if (Model.Item.ScannerGeographicalPlace.Any())
        {
            <partial name="DynamicCollectionTextPartial" model="@("Scanner geographical place name", Model.Item.ScannerGeographicalPlace.Single().Name)" />
        }
        <partial name="DynamicCollectionTextPartial" model="@("Scanner operator identifier", Model.Item.ScannerOperatorIdentifier)" />
        <partial name="DynamicCollectionTextPartial" model="@("Scanner identifier", Model.Item.ScannerIdentifier)" />
        @if (Model.Item.ScannedVariationHasImageCrop.Any())
        {
            <dt>Scanned image crop</dt>
            <dd>@Model.Item.ScannedVariationHasImageCrop.Single().Uri.Segments.Last()</dd>
        }
        @if (Model.Item.ScannedVariationHasImageDeskew.Any())
        {
            <dt>Scanned image deskew</dt>
            <dd>@Model.Item.ScannedVariationHasImageDeskew.Single().Uri.Segments.Last()</dd>
        }
        @if (Model.Item.ScannedVariationHasImageSplit.Any())
        {
            <dt>Scanned image split</dt>
            <dd>@Model.Item.ScannedVariationHasImageSplit.Single().Uri.Segments.Last()</dd>
        }
        @if (Model.Item.DatedNote.Any())
        {
            <partial name="DynamicCollectionTextPartial" model="@("Archivist note", Model.Item.DatedNote.Single().ArchivistNote)" />
            <partial name="DateYmdPartial" model="@("Archivist note date", Model.Item.DatedNote.Single().Date)" />
        }
        <partial name="ChangePartial" model="@Model.Item.Changes" />
    </dl>

    <div class="tna-!--margin-top-m">
        <h2>Asset <a asp-page="/asset/item" asp-route-id="@Model.Item.Asset.Single().Reference.Single()">@Model.Item.Asset.Single().Reference.Single()</a></h2>
    </div>

    @if (Model.Item.SensitivityReviews.Any())
    {
        <div class="tna-!--margin-top-m">
            <h2>Sensitivity reviews</h2>
            <ul class="tna-ul tna-ul--dashed">
                @foreach (var sr in Model.Item.SensitivityReviews)
                {
                    <li>
                        <p>
                            <a asp-page="/sensitivityreview/item" asp-route-id="@sr.DriId.Single()">@sr.DriId.Single()</a>
                        </p>
                        <partial name="SensitivityReviewPartial" model="@sr" />
                    </li>
                }
            </ul>
        </div>
    }
</section>

<section class="tna-container tna-!--margin-top-m">
    <div class="tna-column tna-column--full">
        <div class="tna-form__group">
            <textarea class="tna-textarea" rows="25" readonly>@(Model.Item.Xml.Any() ? System.Text.UTF8Encoding.UTF8.GetString(Convert.FromBase64String(Model.Item.Xml.Single().Value)) : string.Empty)</textarea>
        </div>
    </div>
</section>
